
{% extends "base.html" %}
{% import 'bootstrap5/form.html' as wtf %}

{% block scripts %}
	{{ super() }}
	<script>setTab('navbar-main')</script>

{% endblock %}

{% block app_content %}
<div class="opaque" hidden></div>
<div class="loader" hidden></div>
<div class="col-md-12" style="padding-right: 25px">
    <div style="text-align: center">
        <h2>REASON PROJECT</h2>
    </div>
    <h3>Welcome</h3>
    <p>This dashboard collates the monitoring data gathered from 3 access technolgies:</p>
    <ul>
      <li>5G</li>
      <li>Wi-Fi</li>
      <li>Li-Fi</li>
    </ul>


    
    </br>

</div>

{% endblock %}
