{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_static, render_icon  %}

<html lang="en">
<head>
{% block head %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
    {% if title %}
        {{ title }} - MATRIC Dashboard
    {% else %}
        MATRIC Dashboard
    {% endif %}
</title>

{% block styles %}
    {{ bootstrap.load_css() }}
 <!--   <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"> -->
    {{render_static('css', 'css/main.css')}}
{% endblock %}

{% endblock %}

</head>
<body>

<div class="container-fluid fixed-top topbar">
    <div class="row collapse show no-gutters d-flex h-100">
        <div class="col-3 px-0 w-sidebar navbar-collapse collapse d-none d-md-flex">
            <!-- spacer col -->
              {% if current_user.is_anonymous %}
                <a href="{{ url_for('authentication.login') }}" class="navbar-brand d-inline-block align-top ms-3 mt-3" href="#">
                   <img src=" {{ url_for('static', filename='images/REASON_logo_small.png') }} " alt="5G VIOS"  ></a>
            {% else %}
                <a href="{{ url_for('main.index') }}" class="navbar-brand ms-3"  href="#">
                   <img src=" {{ url_for('static', filename='images/REASON_logo_small.png') }} " alt="5G VIOS"></a>
            {% endif %}
            	</div>
        <div class="col px-3 px-md-0  py-3">
            <div class="d-flex">
                <!-- toggler -->
             {% if current_user.is_authenticated %}
                <button  href="#" data-bs-toggle="collapse" data-bs-target=".collapse" type="button" class="navbar-toggler d-sm d-md-none me-auto" style="color:white;">
                      {{ render_icon('list', 32) }}
                </button>
                  {% endif %}
                <div class="d-flex d-none d-sm d-md-none justify-content-center">
                <a href="{{ url_for('main.index') }}" class="navbar-brand ms-3"  href="#">
                   <img src=" {{ url_for('static', filename='images/REASON_logo_small.png') }} " alt="5G VIOS"></a>
                </div>
                  {% if current_user.is_authenticated %}
				      <ul class="navbar-nav px-3 ms-auto">
				
							 
			                       <a class="btn btn-outline-primary" href="{{ url_for('authentication.logout') }}">Logout</a>
						
					   		</ul>   
					{% endif %}
            </div>
        </div>
    </div>
</div>

{% block navbar %}
	
<div class="container-fluid px-0">
    <div class="row vh-100 collapse show no-gutters d-flex">
        <div class="col-3 p-0 text-white w-sidebar navbar-collapse collapse d-none d-md-flex sidebar" style="margin-top:70px">
            <!-- fixed sidebar -->
            <div class="navbar-light w-sidebar">
                <ul class="nav nav-pills flex-column flex-nowrap text-truncate">
                        {% if current_user.is_authenticated %}
			            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
			              <span>Monitoring</span>
			            </h6>                   
					         <li class="nav-item"><a class="nav-link matric_menu" id="navbar-main" href="{{ url_for('main.index') }}">{{ render_icon('house-fill', 23) }} Main</a></li>
					         <li class="nav-item"><a class="nav-link matric_menu" id="navbar-dashboard" href="{{ url_for('dashboard.dashboard') }}">{{ render_icon('graph-up', 23) }} Dashboard</a></li>

	                    {% if current_user.permissionlevel == 2 %}
						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
						      <span>Tools</span>
						</h6>
							<li class="nav-item"><a class="nav-link matric_menu" id="navbar-profile" href="{{ url_for('profile.profile') }}">{{ render_icon('person-fill', 23) }} Profile</a></li>
                            <li class="nav-item"><a class="nav-link vios_menu" id="navbar-settings" href="{{ url_for('settings.settings') }}">{{ render_icon('gear-fill', 23) }} Settings</a></li>
					       	<li class="nav-item"><a class="nav-link vios_menu" id="navbar-manageUsers" href="{{ url_for('manage_users.manageusers') }}">{{ render_icon('people-fill', 23) }} Manage Users</a></li>
	                    {% endif %}       
		         
	           	 	{% endif %}
                </ul>
            </div>
        </div>
{% endblock %}
        
        <div class="col p-3 mt-5">
        {% block content %}
	        {% with messages = get_flashed_messages(with_categories=true) %}
	        {% if messages %}
	            {% for category, message in messages %}
	            	{% if category =='error' %}
	                <div class="alert alert-danger alert_message" role="alert">
	                {% elif category == 'success' %}
	                <div class="alert alert-success alert_message" role="alert">
	                {% else %}
	                <div class="alert alert-info alert_message" role="alert">
	                {% endif %}
	                    {{ message }}
	                </div>
	            {% endfor %}
	        {% endif %}
	    {% endwith %}
	<div class="alert collapse"  id="alert_message" role="alert"></div>
	    {# application content needs to be provided in the app_content block #}
	    {% block app_content %}{% endblock %}
	{% endblock %}
        </div>
    </div>
</div>

{% block scripts %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
    {{ bootstrap.load_js() }}
    {{ moment.include_moment() }}

    <script>$SCRIPT_ROOT = {{request.url_root|tojson|safe}}</script>
    <script>
        window.setTimeout(function() {
            $(".alert_message").fadeTo(500, 0).slideUp(500, function(){ $(this).remove(); });
        }, 4000);
    </script>
    
    <script>
        function setTab(tabName){
        	// To avoid conflict with other menus .vios_menu is used as a dummy selector
            tabs = document.querySelectorAll(".nav-link .matric_menu");
            for (var i=0; i<tabs.length; i++) {
                tab = tabs[i];
                tab.classList.remove("menuSelected");
                tab.classList.remove("active");
            }
            document.getElementById(tabName).classList.add("menuSelected");
            document.getElementById(tabName).classList.add("active");
        }
    </script>
    <script>
    $(document).ready(function () {
    	// Collapse click
    	$('#hidebutton').click(function() {
    	    $('#sidebar-container').toggle();
    	});

	});

    </script>
{% endblock %}
</body>
</html>