python-dotenv
Flask>=1.0.4,<3.1
Flask-SQLAlchemy==3.1.1
Flask-Login
Flask-Migrate==4.0.5
Flask-WTF
Flask-Moment
psycopg2
Bootstrap-Flask==2.3.3
Werkzeug<3.1
importlib-metadata==4.8.3;python_version<"3.7"
importlib-metadata;python_version>="3.7"
contextvars==2.4;python_version<"3.7"
typing_extensions>=4.1.1
requests
retrying
ansi2html
nest-asyncio
setuptools
uuid